.card {
  z-index: -1000;
}

.card {
  background-color: $yellow;
  width: $card-width;
  padding: 1em;
  text-align: center;
  border-radius: $base-border-radius;
  height: $card-height;
  margin: 0 auto;
  margin-top: 10vh;
  box-shadow: $bkg-card-fill;
}

.card__category {
  background-color: $blue-fill;
  border-radius: $base-border-radius;
  border: $base-border;
  box-sizing: border-box;
  color: white;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: 100%;
}

p.card__prompt {
  margin-top: 25%;
  color: white;
  font-size: $base__font-size;
  line-height: $base-line-height;
}
