.card--back{
  z-index: $base-z-index;
  color: $white;

  .card--back-content {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

 }

.cardBack--transform {
  background-color: $red;
  backface-visibility: visible;
  transform: rotateY(180deg);
}
