.topics-nav {
  position: relative;
  padding: 0;
}

.topics-nav__toggle {
  background-color: $blue-fill;
  border-radius: $base-border-radius;
  border: $base-border;
  box-sizing: border-box;
  color: $white;
  display: inline-flex;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  margin: 0 auto;
  padding-left: auto;
  padding-right: auto;
  padding: .5rem;
  width: $card-width;
  align-items: center;
  z-index: $base-z-index;


  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    background-color: #F0AA41;
    cursor: pointer;
  }

  .topics-nav[open] & {
  	background-color: #F0AA41;
  } 
}

.topics-nav__menu {
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 0;
  z-index: $above-z-index;
}

.topics-nav__icon {
  background: #ed3e44;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 25px 0.5px grey;  
  display: block;
  fill: $white;
  height: $icon-size;
  padding: 10px;
  width: $icon-size;
  margin: auto;
  margin-top: 10px;
}

.topics-nav__link {
  background-color: #4C95C7;
  border-bottom: 1px solid #65FFFF;
  color: white;
  display: block;
  padding: 1.25em;
  text-decoration: none; 

  &:hover {
    background-color: #657EA8;
  }

  .topics-nav__item:last-child & {
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
  }
}
