//Typography
$monospace-font-stack: "Consolas", "Courier New", "Monaco", monospace;
$base-font-family: "Calibre", $monospace-font-stack;

// Font Sizes
$base__line-height: 1.4;
$base__font-size: 1.2em;

// Colors
$yellow: #FFD940;
$dark-purple: #647EA8;
$red: #D93D3D; 
$white: #fff;
$black: #333;
$grey: #808080;

// Accent Colors
$blue-fill: #4C96C7;
$secondary-red: #A62E2E;
$light-purple: #D94B7B;

//Borders & Shadows
$base-border-color: #65FFFF;
$base-box-shadow: 0.5px 0.5px 25px 0.5px $grey;  

// Background Colors
$base-background-color: $dark-purple;

//Card Layers
$bkg-card-fill: 10px 10px 0.5px 0.5px $red;




