---
title: Ralph's Launch Cards
---

  <details>
  <summary>Topics</summary>
  <ul class="">
    <li><a href="#">Sub-1</a></li>
    <li><a href="#">Sub-2</a></li>
    <li><a href="#">Sub-3</a></li>
  </ul>
</details>

<div class="card">
  <header class="card__category">
    Management
  </header>
  <p class="card__prompt" id="card-prompt">
    How's work?
  </p>
  <button class="card__refresh-button" id="refresh-button">
    Draw a new card
  </button>
</div>

<footer>
  <p class="credits">created by ricky and thoughtbot</p>
</footer>
