---
title: Ralph's Launch Cards
---

<details>
  <summary>Topics</summary>
  <ul class="">
    <li><a class="topic__link" href="#">Productivity</a></li>
    <li><a class="topic__link" href="#">Management</a></li>
    <li><a class="topic__link" href="#">Food</a></li>
  </ul>
</details>

<div class="card">
  <header id="card-topic-header" class="card__category">
    Management
  </header>
  <p class="card__prompt" id="card-prompt">
    How's work?
  </p>
  <button class="card__refresh-button" id="refresh-button">
    Launch
  </button>
</div>

<footer>
  <p class="credits">created by ricky and thoughtbot</p>
</footer>
