---
title: Ralph's Launch Cards
---

<nav class="card-categories">

</nav>

<div class="card">
  <header class="card__category">
    Management
  </header>

  <p class="card__prompt" id="card-prompt">
    How's work?
  </p>

  <button class="card__refresh-button" id="refresh-button">
    Draw a new card
  </button>
</div>

<footer>
  
</footer>
